@import "_variables";

*{
    margin: 0;
    padding: 0;
}

.alfombras_contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: ($space)*2;
        p{
            margin-bottom: $space;
            text-align: center;
            width: 100%;
            border-bottom: 2px solid grey;
        }

}

.alfombras_contenedor--art{
    margin: 15px;
    border: 1px solid grey;
    border-radius: ($space)/2;
    display: grid;
    grid-template-columns: 1fr;
    > *{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        max-width: $img-width;
    }

}

.alfombras_contenedor--p {
    margin-top: $space;
    font-size: $fuente;
    border-bottom: none;
    border-top: 2px solid grey;
}

.alfombras_contenedor--alfombras-2{
    border: 2px solid $boder_cont_alf-2;
    border-radius: $space;
    padding: 15px;
    margin-right: $space;
    margin-bottom: $space*2;
    img{
        border-radius: $space;
        height: 35vh;
    }
}

.img-show{
    border-radius: $space;
    height: 35vh;
}


@media (min-width: ($tablet+1)) and (max-width: $desktop_max) {
    .alfombras_contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: $space;
    }
}
 
@media (max-width: $tablet) { 
    .alfombras_contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $space/2;
    }
 }
 
@media (max-width: $celular) { 
    .alfombras_contenedor{
        display: grid;
        grid-template-columns: 1fr;
        gap: $space/4;
    }
 }