* {
  margin: 0;
  padding: 0; }

.alfombras_contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px; }
  .alfombras_contenedor p {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid grey; }

.alfombras_contenedor--art {
  margin: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr; }
  .alfombras_contenedor--art > * {
    display: flex;
    justify-content: center;
    align-items: center; }
  .alfombras_contenedor--art img {
    max-width: 206px; }

.alfombras_contenedor--p {
  margin-top: 10px;
  font-size: 26px;
  border-bottom: none;
  border-top: 2px solid grey; }

.alfombras_contenedor--alfombras-2 {
  border: 2px solid rgba(65, 62, 62, 0.644);
  border-radius: 10px;
  padding: 15px;
  margin-right: 10px;
  margin-bottom: 20px; }
  .alfombras_contenedor--alfombras-2 img {
    border-radius: 10px;
    height: 35vh; }

.img-show {
  border-radius: 10px;
  height: 35vh; }

@media (min-width: 768px) and (max-width: 1199px) {
  .alfombras_contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; } }

@media (max-width: 767px) {
  .alfombras_contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px; } }

@media (max-width: 480px) {
  .alfombras_contenedor {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5px; } }
